// compiled from 6_fibonacci/Main.jack
// fib(7) = 13, LED: 1101
// locals: a(0) b(1) temp(2) i(3)
function Main.main 4
push constant 0
pop local 0
push constant 1
pop local 1
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push constant 7
lt
not
if-goto WHILE_END0
push local 1
pop local 2
push local 0
push local 1
add
pop local 1
push local 2
pop local 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
